[submodule "Tianocore_EDKII"]
	path = bin-uefi/edk2
	url = https://github.com/cixtech/edk2.git
[submodule "Trusted_Execution_Environment"]
	path = bin-tee/op-tee-cix-odp
	url = https://github.com/cixtech/cix_opensource__tee__op-tee.git
[submodule "Trusted_Firmware-A"]
	path = bin-tf-a/arm-trusted-firmware-cix-odp
	url = https://github.com/cixtech/cix_opensource__arm-trusted-firmware.git
[submodule "ACPI_Component_Architecture"]
	path = bin-uefi/tools/acpica
	url = https://github.com/acpica/acpica.git
[submodule "CIX_Silicon_Package1"]
	path = common/edk2-platforms-cix-odp
	url = https://github.com/cixtech/edk2-platforms.git
[submodule "CIX_Silicon_Package2"]
	path = common/edk2-non-osi-cix-odp
	url = https://github.com/cixtech/edk2-non-osi.git
[submodule "cix_package-tool"]
	path = image-bootchain/cix_package-tool
	url = https://github.com/cixtech/cix_package-tool.git
